/* Scrollbar ----
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}

/* Fix response alignment */
pre code {
  display: block;
}


/* Change sidebar icon styles  */
.bslib-sidebar-layout>.collapse-toggle {
  top: 10px;
  bottom: auto !important;
  background-color: transparent !important;
  border: none !important;
  right: -1.6rem !important;
}

.bslib-sidebar-layout.sidebar-collapsed>.collapse-toggle {
  right: -1.6rem !important;
}

.bslib-sidebar-layout > .collapse-toggle > .collapse-icon {
    width: 2rem !important;
    height: 2rem !important;
}

@media (max-width: 575.98px) {
  .bslib-sidebar-layout>.collapse-toggle, .bslib-sidebar-layout.sidebar-collapsed>.collapse-toggle {
      right: 1.6rem !important;
  }
}
